<div class="d-flex flex-wrap w-full">
  <div class="col-12 col-md-6 col-lg-4 p-3" *ngFor="let product of products">
    <div class="card text-center">
      <div class="card-header text-truncate fs-6">
        {{ product.name }}
      </div>
      <div class="card-body">
        <img src="{{ product.image }}" class="mb-4" style="height: 7.5rem" />
        <p class="card-text text-truncate">{{ product.description }}</p>
        <p class="card-text text-truncate">
          {{ product.date | date: "dd/MM/Y" }}
        </p>
        <a
          href="#"
          [routerLink]="['/product', product.id]"
          class="btn btn-success"
          >Show details</a
        >
      </div>
      <div class="card-footer">
        {{ product.price | currency }}
      </div>
    </div>
  </div>
</div>
