<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../module/website-info.ejs') %>
  <%- include('../module/general-link.ejs') %>
</head>

<body>
  <%- include('../module/aside.ejs') %>

  <main id="main">
    <div class="main__wrapper">
      <%- include('../module/header.ejs') %>

      <!-- BODY CONTENT -->
      <!-- add form -->
      <form class="row bg-white rounded-2" id="addProductForm">
        <!-- product name -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="productName">
              Name
            </label>
            <div class="input-with-icon-group">
              <input type="text" class="form-control" id="productName" placeholder="Product name">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product name -->

        <!-- product publisher -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="productPublisher">
              Publisher
            </label>
            <div class="input-with-icon-group">
              <input type="text" class="form-control" id="productPublisher" placeholder="Product publisher">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product publisher -->

        <!-- product dimensions -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="productDimensions">
              Dimensions
            </label>
            <div class="input-with-icon-group">
              <input type="text" class="form-control" id="productDimensions" placeholder="Product dimensions">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product dimensions -->
        
        <!-- product publish date -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="productPublishDate">
              Publish date
            </label>
            <div class="input-with-icon-group">
              <input type="date" class="form-control" id="productPublishDate">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product publish date -->

        <!-- product category -->
        <div class="col-12 col-sm-6 col-md-4  ">
          <div class="form-group">
            <label for="productCategory">
              Category
            </label>
            <div class="form-control custom-select" id="productCategory">
              <span class="custom-select-text">
                <!-- add by add-product.js -->
              </span>
              <ul class="custom-select-list">
                <!-- add by add-product.js -->
              </ul>
            </div>
          </div>
        </div>
        <!-- end product category -->

        <!-- product tag -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="form-group">
            <label for="productTag">
              Tag
            </label>
            <div class="form-control custom-select" id="productTag">
              <span class="custom-select-text">
                <!-- add by add-product.js -->
              </span>
              <ul class="custom-select-list">
                <!-- add by add-product.js -->
              </ul>
            </div>
          </div>
        </div>
        <!-- end product tag -->

        <!-- product display -->
        <div class="col-12 col-sm-5 col-md-4">
          <div class="form-group">
            <label for="productDisplay">
              Display
            </label>
            <div class="input-group">
              <label for="productDisplay" class="input-group-text">
                Status
              </label>
              <div class="form-control custom-select" id="productDisplay">
                <span class="custom-select-text">
                  <!-- add by add-product.js -->
                </span>
                <ul class="custom-select-list">
                  <!-- add by add-product.js -->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end product display -->

        <!-- product price -->
        <div class="col-7 col-sm-4 col-md-3">
          <div class="form-group">
            <label for="productPrice">
              Price
            </label>
            <div class="input-with-icon-group">
              <input type="number" step="0.01" min="0" max="999999999.99" class="form-control" id="productPrice"
                placeholder="1.01">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product price -->

        <!-- product sale percent -->
        <div class="col-5 col-sm-3 col-md-2">
          <div class="form-group">
            <label for="productSalePercent">
              Sale percent
            </label>
            <div class="input-with-icon-group">
              <input type="number" step="1" min="0" max="100" class="form-control" id="productSalePercent"
                placeholder="10">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product sale percent -->

        <!-- product quantity -->
        <div class="col-6 col-sm-4 col-md-2">
          <div class="form-group">
            <label for="productQuantity">
              Quantity
            </label>
            <div class="input-with-icon-group">
              <input type="number" step="1" min="0" max="999999999" class="form-control" id="productQuantity"
                placeholder="10">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product quantity -->

        <!-- product order -->
        <div class="col-6 col-sm-4 col-md-2">
          <div class="form-group">
            <label for="productOrder">
              Order
            </label>
            <div class="input-with-icon-group">
              <input type="number" step="1" min="1" max="99" class="form-control" id="productOrder" placeholder="1">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product order -->

        <!-- product pages -->
        <div class="col-7 col-sm-4 col-md-3">
          <div class="form-group">
            <label for="productPages">
              Pages
            </label>
            <div class="input-with-icon-group">
              <input type="number" step="1" min="1" max="99999" class="form-control" id="productPages" placeholder="1">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product pages -->

        <!-- product img -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="productImage">
              Image
            </label>
            <div class="input-with-icon-group">
              <input type="file" accept="image/*" class="form-control" id="productImage">
              <label for="productImage" class="input-file-custom">Choose an image</label>
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
            <label class="input-preview-image" for="productImage">
              <img class="js-preview-image" src="/images/base/preview-img.svg" alt="Preview image">
            </label>
          </div>
        </div>
        <!-- end product img -->

        <!-- product description -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="productDescription">
              Description
            </label>
            <div class="input-with-icon-group">
              <textarea rows="11" class="form-control" id="productDescription"></textarea>
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end product description -->

        <!-- btn group product -->
        <div class="col-12 d-flex">
          <div class="col-4 col-md-3 col-lg-2">
            <div class="form-group">
              <button class="btn-success col-12" id="js-add-data-submit">Save</button>
            </div>
          </div>
          <div class="col-8 col-md-5 col-lg-4">
            <div class="form-group">
              <a href="/admin/product-overview" class="btn-cancel col-12">Overview</a>
            </div>
          </div>
        </div>
        <!-- end btn group product -->
      </form>
      <!-- end add form -->
      <!-- end BODY CONTENT -->
    </div>
  </main>

  <script type="module" src="../javascripts/admin/layout.js"></script>
  <script type="module" src="../javascripts/admin/add/add-product.js"></script>
</body>

</html>