<table class="table table-borderless table-hover table-striped mt-2">
  <caption
    class="bg-light text-uppercase fw-bold p-3 fs-6 caption-top text-center"
  >
    Employee List
  </caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fullname</th>
      <th>Birth Date</th>
      <th>Gender</th>
      <th>Area</th>
      <th>Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of employeeList">
      <td>{{ e.id }}</td>
      <td>{{ e.lastName }} {{ e.firstName }}</td>
      <td>{{ e.birthDate | date: "dd/MM/y" }}</td>
      <td>{{ e.genderId ? "Female" : "Male" }}</td>
      <td>{{ getAreaName(e.areaId) }}</td>
      <td>
        <button
          [routerLink]="['/update-employee', e.id]"
          class="btn btn-square btn-warning me-2"
        >
          <i class="ms-1 fa-solid fa-file-pen"></i>
        </button>
        <button
          (click)="deleteEmployee(e.id)"
          class="btn btn-square btn-danger"
        >
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
