#footer {
  width: 100%;
  margin-top: 2rem;

  background: var(--white);
}

.footer-container{
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.footer-col{

}
.footer-col-title{

}
.footer-link{

}