<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../module/website-info.ejs') %>
  <%- include('../module/general-link.ejs') %>
</head>

<body>
  <%- include('../module/aside.ejs') %>

  <main id="main">
    <div class="main__wrapper">
      <%- include('../module/header.ejs') %>

      <!-- BODY CONTENT -->
      <!-- update form -->
      <form class="row bg-white rounded-2" id="updateOrderForm">
        <!-- order status -->
        <div class="col-12 col-sm-6 col-md-6 col-xxl-4">
          <div class="form-group">
            <label for="orderStatus">
              Status
            </label>
            <div class="input-group">
              <div class="form-control custom-select" id="orderStatus">
                <span class="custom-select-text">
                  <!-- add by add-product.js --> 
                </span>
                <ul class="custom-select-list">
                  <!-- add by add-product.js -->
                </ul>
              </div>
              <button class="btn-success" id="js-update-data-submit">Change</button>
            </div>
          </div>
        </div>
        <!-- end order status -->

        <!-- order date -->
        <div class="col-12 col-sm-6 col-md-3 col-xxl-2">
          <div class="form-group">
            <label for="orderDate">
              Order date
            </label>
            <div class="input-with-icon-group">
              <input readonly type="date" class="form-control" id="orderDate">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end order date -->

        <!-- order total -->
        <div class="col-12 col-sm-6 col-md-3 col-xxl-2">
          <div class="form-group">
            <label for="orderTotalMoney">
              Total
            </label>
            <div class="input-with-icon-group">
              <input readonly type="number" step="0.01" min="0" max="999999999.99" class="form-control" id="orderTotalMoney"
                placeholder="1.01">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end order total -->

        <!-- customer name -->
        <div class="col-12 col-sm-6 col-md-6 col-xxl-4">
          <div class="form-group">
            <label for="customerName">
              Customer Name
            </label>
            <div class="input-with-icon-group">
              <input readonly type="text" class="form-control" id="customerName" placeholder="Customer Name">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end customer name -->

        <!-- customer email -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="customerEmail">
              Customer Email
            </label>
            <div class="input-with-icon-group">
              <input readonly type="email" class="form-control" id="customerEmail" placeholder="Customer Email">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end customer email -->

        <!-- customer phone -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="customerPhone">
              Customer Phone
            </label>
            <div class="input-with-icon-group">
              <input readonly type="tel" class="form-control" id="customerPhone" placeholder="Customer Phone">
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end customer phone -->

        <!-- order address -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="orderAddress">
              Address
            </label>
            <div class="input-with-icon-group">
              <textarea style="resize: vertical;" readonly rows="1" class="form-control" id="orderAddress"></textarea>
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end order address -->

        <!-- order note -->
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="orderNote">
              Note
            </label>
            <div class="input-with-icon-group">
              <textarea style="resize: vertical;" readonly rows="1" class="form-control" id="orderNote"></textarea>
              <div class="validate-icon"></div>
            </div>
            <span class="invalid-feedback d-none">
              <!-- message by js -->
            </span>
          </div>
        </div>
        <!-- end order note -->


        <!-- btn group order -->
        <div class="col-12 d-flex">
          <div class="col-8 col-md-5 col-lg-4">
            <div class="form-group">
              <a href="/admin/order-overview" class="btn-cancel col-12">Overview</a>
            </div>
          </div>
        </div>
        <!-- end btn group order -->
      </form>
      <!-- end update form -->

      <!-- order detail -->
      <section id="js-table-container" class="row rounded-2 justify-content-center bg-light-blue">
        <div class="table-container">
          <table id="js-data-table">
            <!-- add by update/order.js -->
          </table>
        </div>
      </section>
      <!-- end order detail -->
      <!-- end BODY CONTENT -->
    </div>
  </main>

  <script type="module" src="../../javascripts/admin/layout.js"></script>
  <script type="module" src="../../javascripts/admin/update/order.js"></script>
</body>

</html>