/* font Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.text {
  font-family: 'Nunito';
}

/* end font Nunito */

/* color variants */
:root {
  --pink: #e83e8c;
  --gray: #6c757d33;
  --light: #f8f9fa;
  --white: #fff;
  --purple: #6f42c1;
  --cyan: #17a2b8;
  --cyan-blur: #17a2b833;
  --dark: #343a40;
}

/* end color variants */

/* reset css */
* {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

@media only screen and (max-width: 1199.98px) {
  :root {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767.98px) {
  :root {
    font-size: 14px;
  }
}

/* end reset css */

/* material */
.rounded {
  border-radius: 0.5rem;
}
.mt-1 {
  margin-top: 0.75rem;
}
.d-none{ 
  display: none !important;
}
/* end material */

/* custom css */
main {
  padding: 2rem 1rem;
}

.userNameContainer {
  width: 100%;
  padding: 0 0 1.5rem;

  /* background: lightblue; */
  color: var(--cyan);
  
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

h1 {
  width: 20rem;
  padding: 0.75rem 0.5rem;
  margin-left: auto;
  margin-right: auto;

  background: var(--pink);
  color: var(--light);

  font-size: 1.5rem;
  text-align: center;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 1320px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.pokemon-item {
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(20% - 0.5rem);
  height: calc(3.5rem + 5.5vw);
  margin: 0.25rem;

  background: var(--white);

  box-shadow: 0 0.125rem 0.25rem var(--gray);
}

.pokemon-id {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(2rem + 1vw);
  height: calc(1.5rem + 0.75vw);

  background: var(--purple);
  color: var(--white);

  font-size: calc(0.75rem + 0.5vw);
  font-weight: bold;
}

.pokemon-img img {
  height: calc(2rem + 4vw);
}
/* end custom css */

/* login */
#login {
  max-width: 32rem;
  margin: 2rem auto;
  padding-top: 1rem;

  /* background: lightcyan; */
}
h2 {
  margin-bottom: 1rem;

  font-size: 1.75rem;
  color: var(--cyan);
  text-align: center;
}
.form-group {
  width: 100%;
  /* background: lightpink; */
}
.form-group > label {
  display: inline-block;
  font-size: 1rem;
  color: var(--cyan);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.form-group > input {
  width: 100%;
  height: 2.25rem;
  border: 2px solid var(--gray);
  border-radius: 0.25rem;
  padding: 0 0.75rem;

  font-size: 1rem;
  color: var(--dark);
  font-family: 'Nunito';
}
.form-group > input:hover,
.form-group > input:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem var(--cyan-blur);
}
button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;

  background: var(--cyan);
  color: var(--white);

  font-size: 1rem;
}
button:hover,
button:focus {
  box-shadow: 0 0 0 0.25rem var(--cyan-blur);
}
/* end login */