<section class="col-12 bg-white rounded-1 p-3">
  <form class="row g-3">
    <div class="col-12 input-group">
      <input type="text" class="form-control" placeholder="Enter search text">
      <button class="btn btn-primary text-light px-4" type="button">Search</button>
    </div>
    <div class="col-lg-6">
      <select class="form-select">
        <option selected>Choose column</option>
        <% columnList.forEach(column => { %>
          <option value="<%= column.key %> ">
            <%= column.name %> 
          </option>
        <% }) %>
      </select>
    </div>
    <div class="col-lg-6">
      <select class="form-select">
        <option selected>Choose order</option>
        <option>Descending</option>
        <option>Ascending</option>
      </select>
    </div>
  </form>
</section>