<header class="container-fluid bg-white p-2 d-flex align-items-center">
  <button class="btn btn-primary text-light fs-3 btn-square">
    <i class="fas fa-caret-left"></i>
  </button>
  <h1 class="fs-5 mb-0 text-center" style="width: calc(100% - 6rem);">
    Categories
  </h1>
</header>