<section class="col-12 bg-white rounded-1 p-1 mt-1 d-flex justify-content-center">
  <button class="btn mx-1 px-3 btn-light text-primary">
    <i class="fas fa-step-backward"></i>
  </button>
  <button class="btn mx-1 px-3 btn-light text-dark fw-bold">
    1
  </button>
  <button class="btn mx-1 px-3 btn-light text-dark fw-bold">
    2
  </button>
  <button class="btn mx-1 px-3 btn-light text-dark fw-bold">
    3
  </button>
  <button class="btn mx-1 px-3 btn-light text-dark fw-bold">
    4
  </button>
  <button class="btn mx-1 px-3 btn-light text-dark fw-bold">
    ...
  </button>
  <button class="btn mx-1 px-3 btn-light text-primary">
    <i class="fas fa-step-forward"></i>
  </button>
</section>