<form class="col-8 m-auto border border-primary p-2">
  <p>
    Name
    <input
      name="name"
      [(ngModel)]="product.name"
      type="text"
      class="form-control"
    />
  </p>
  <p>
    Price
    <input
      name="price"
      [(ngModel)]="product.price"
      type="number"
      class="form-control"
    />
  </p>
  <p>
    Code
    <input
      name="code"
      [(ngModel)]="product.code"
      type="text"
      class="form-control"
    />
  </p>
  <p>
    Date
    <input
      name="date"
      [(ngModel)]="product.date"
      type="date"
      class="form-control"
    />
  </p>
  <p>
    Description
    <textarea
      name="description"
      [(ngModel)]="product.description"
      class="form-control"
      cols="30"
      rows="10"
    ></textarea>
  </p>
  <button class="btn btn-warning" (click)="updateProduct()">Update</button>
</form>
