<footer class="row bg-primary text-light">
  <div class="container pt-3 pb-4 d-flex justify-content-center flex-wrap col col-lg-11 col-xl-10 col-xxl-9">
    <div class="col-12 col-md-6 col-lg-4 text-center mb-2">
      <h5 class="mb-3 mt-4">Support</h5>
      <a class="d-block py-2 text-decoration-none text-white" href="#">
        Return policy
      </a>
      <a class="d-block py-2 text-decoration-none text-white" href="#">
        Security policy
      </a>
      <a class="d-block py-2 text-decoration-none text-white" href="#">
        Payment policy
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center mb-2">
      <h5 class="mb-3 mt-4">Connect</h5>
      <a class="d-block py-2 text-decoration-none text-white" href="#">
        Facebook
      </a>
      <a class="d-block py-2 text-decoration-none text-white" href="#">
        Youtube
      </a>
      <a class="d-block py-2 text-decoration-none text-white" href="#">
        Twitter
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center mb-2">
      <h5 class="mb-3 mt-4">Contact</h5>
      <a class="d-block py-2 text-decoration-none text-white" href="#">
        Azusa New York 3030
      </a>
      <a class="d-block py-2 text-decoration-none text-white" href="#">
        033.333.0303
      </a>
      <a class="d-block py-2 text-decoration-none text-white" href="#">
        tcm@bookstore.com
      </a>
    </div>
  </div>
</footer>