<footer id="footer">
  <div class="footer-container">
    <div class="footer-col">
      <div class="footer-col-title">Support</div>
      <a class="footer-link" href="#">
        Return policy
      </a>
      <a class="footer-link" href="#">
        Security policy
      </a>
      <a class="footer-link" href="#">
        Payment policy
      </a>
    </div>
    <div class="footer-col">
      <div class="footer-col-title">Connect</div>
      <a class="footer-link" href="#">
        Facebook
      </a>
      <a class="footer-link" href="#">
        Youtube
      </a>
      <a class="footer-link" href="#">
        Twitter
      </a>
    </div>
    <div class="footer-col">
      <div class="footer-col-title">Contact</div>
      <a class="footer-link" href="#">
        Azusa New York 303

      </a>
      <a class="footer-link" href="#">
        033.333.0303
      </a>
      <a class="footer-link" href="#">
        tcm@bookshop.com
      </a>
    </div>
  </div>
</footer>