:root {
  --primary-color: #435ebe;

  --bg-body: #f2f7ff;
  --bg-hover: #f0f1f5;

  --link-color: var(--primary-color);
  --text-color: #25396f;
  --icon-color: #7c8db5;
  --text-blur-color: #607080;

  --white: #fff;
  --light-gray: #ccc;
  --black-overlay: #0002;

  --blue: #435ebe;
  --red: #dc3545; 
  --green: #198754;
  --light: #f9fafb;

  --text-danger: var(--red);
  --text-success: var(--green);

  --btn-primary-bg: var(--blue);
  --btn-primary-hightlight: #3950a2;
  --btn-primary-focus-shadow: rgba(95, 118, 200, 0.5);
  --btn-danger-bg: var(--red);


  --border-light-color: #dce7f1;
  --border-light-focus-color: #a1afdf;
  --input-focus-shadow: rgba(67, 94, 190, 0.25);

  --input-checked-color: #4c66c1;
}