*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}