.btn-primary {
  color: var(--bs-light);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-square {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;
}