<section class="col-12 bg-white rounded-1 p-3">
  <form class="row g-3">
    <div class="input-group col-lg-6">
      <input type="text" class="form-control" placeholder="Enter search value">
      <button class="btn btn-primary text-light" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="input-group col-lg-6">
      <span class="input-group-text">Search by</span>
      <select class="form-select">
        <% columnList.forEach(column => { %>
          <option value="<%= column.key %> ">
            <%= column.name %> 
          </option>
        <% }) %>
      </select>
    </div>
    <div class="input-group col-lg-6">
      <span class="input-group-text">Order by</span>
      <select class="form-select">
        <% columnList.forEach(column => { %>
          <option value="<%= column.key %> ">
            <%= column.name %> 
          </option>
        <% }) %>
      </select>
    </div>
    <div class="input-group col-lg-6">
      <span class="input-group-text">Order rule</span>
      <select class="form-select">
        <option>Descending</option>
        <option>Ascending</option>
      </select>
    </div>
  </form>
</section>