<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./module/website-info') %>
</head>

<body>
  <div class="container-fluid">
    <%- include('./module/header') %>

    <main class="row bg-dark px-2 py-5 justify-content-center">
      <div class="col-8 bg-white px-0">
        <table class="table table-borderless table-striped table-hover mb-0">
          <tbody>
            <tr class="table-primary">
              <th>ID</th>
              <th>Category name</th>
              <th>Order</th>
              <th>Display</th>
            </tr>

            <tr>
              <td>1 </td>
              <td>History </td>
              <td>1 </td>
              <td>
                Show
              </td>
              <td>
                <a href="/category/delete/1" class="text-decoration-none">
                  <button type="button" class="btn btn-danger">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                  </button>
                </a>
                <a href="/category/edit/1" class="text-decoration-none">
                  <button class="btn btn-warning text-light">
                    <i class="far fa-file-alt" aria-hidden="true"></i>
                  </button>
                </a>
              </td>
            </tr>

            <tr>
              <td>2 </td>
              <td>Business </td>
              <td>2 </td>
              <td>
                Show
              </td>
              <td>
                <a href="/category/delete/2" class="text-decoration-none">
                  <button type="button" class="btn btn-danger">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                  </button>
                </a>
                <a href="/category/edit/2" class="text-decoration-none">
                  <button class="btn btn-warning text-light">
                    <i class="far fa-file-alt" aria-hidden="true"></i>
                  </button>
                </a>
              </td>
            </tr>

            <tr>
              <td>3 </td>
              <td>Travel </td>
              <td>3 </td>
              <td>
                Show
              </td>
              <td>
                <a href="/category/delete/3" class="text-decoration-none">
                  <button type="button" class="btn btn-danger">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                  </button>
                </a>
                <a href="/category/edit/3" class="text-decoration-none">
                  <button class="btn btn-warning text-light">
                    <i class="far fa-file-alt" aria-hidden="true"></i>
                  </button>
                </a>
              </td>
            </tr>

            <tr>
              <td>4 </td>
              <td>Technology </td>
              <td>4 </td>
              <td>
                Hide
              </td>
              <td>
                <a href="/category/delete/4" class="text-decoration-none">
                  <button type="button" class="btn btn-danger">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                  </button>
                </a>
                <a href="/category/edit/4" class="text-decoration-none">
                  <button class="btn btn-warning text-light">
                    <i class="far fa-file-alt" aria-hidden="true"></i>
                  </button>
                </a>
              </td>
            </tr>

            <tr>
              <td>5 </td>
              <td>Manga </td>
              <td>5 </td>
              <td>
                Show
              </td>
              <td>
                <a href="/category/delete/5" class="text-decoration-none">
                  <button type="button" class="btn btn-danger">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                  </button>
                </a>
                <a href="/category/edit/5" class="text-decoration-none">
                  <button class="btn btn-warning text-light">
                    <i class="far fa-file-alt" aria-hidden="true"></i>
                  </button>
                </a>
              </td>
            </tr>

            <tr>
              <td>9 </td>
              <td>Tran ca </td>
              <td>2 </td>
              <td>
                Hide
              </td>
              <td>
                <a href="/category/delete/9" class="text-decoration-none">
                  <button type="button" class="btn btn-danger">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                  </button>
                </a>
                <a href="/category/edit/9" class="text-decoration-none">
                  <button class="btn btn-warning text-light">
                    <i class="far fa-file-alt" aria-hidden="true"></i>
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <%- include('./module/footer') %>
  </div>

  <script>

  </script>
</body>

</html>