<div class="card">
  <div class="card-header d-flex justify-content-between">
    <p class="mt-3 fw-bold text-success">Product List</p>
    <label class="mt-2">
      <input class="form-control" type="text" name="keywords" [(ngModel)]="keywords" (keyup)="filterProduct()">
      <!-- <em class="text-danger">
        {{keywords}}
      </em> -->
    </label>
  </div>
  <div class="card-body overflow-auto">
    <table class="table table-borderless table-hover table-striped mt-2">
      <thead class="bg-success text-light">
        <tr>
          <th class="px-3" style="line-height: 2.5rem;" *ngIf="isShowImage">Image</th>
          <th class="px-3" style="line-height: 2.5rem;">Name</th>
          <th class="px-3" style="line-height: 2.5rem;">Code</th>
          <th class="px-3" style="line-height: 2.5rem;">Date</th>
          <th class="px-3" style="line-height: 2.5rem;">Price</th>
          <th class="px-3" style="line-height: 2.5rem;">Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of filterProductList">
          <td *ngIf="isShowImage" style="height: 3.5rem; line-height: 3.5rem;" class="px-3" class="text-center">
            <img src="{{p.image}}" height="40" alt="">
          </td>
          <td style="height: 3.5rem; line-height: 3.5rem;" class="px-3">
            {{p.name | uppercase}}
          </td>
          <td style="height: 3.5rem; line-height: 3.5rem;" class="px-3">
            {{p.code}}
          </td>
          <td style="height: 3.5rem; line-height: 3.5rem;" class="px-3">
            {{p.date | date: 'dd/MM/y'}}
          </td>
          <td style="height: 3.5rem; line-height: 3.5rem;" class="px-3">
            {{p.price | currency }} ~
            {{(p.price * 23087.50) | currency: 'VND' }}
          </td>
          <td style="height: 3.5rem; line-height: 3.5rem;" class="px-3">
            <div class="overflow-hidden" [style.width.px]="p.starRate*90/5" title="rating">
              <div style="width: 90px">
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-success me-3" (click)="toggleImageStatus()">
      {{isShowImage ? 'Hide' : 'Show'}} Image
    </button>
    Product Quantity: <b>0</b>
  </div>
</div>