<form
  class="mt-3"
  [formGroup]="addProjectForm"
  (ngSubmit)="addProject(addProjectForm.value)"
>
  <h5 class="bg-primary text-light rounded p-2 text-center mb-3">
    Add Project
  </h5>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      name="name"
      formControlName="name"
      type="text"
      class="form-control allow-validated"
      id="name"
    />
    <div class="invalid-feedback">
      {{ addProjectForm.controls['name']?.errors?.['required'] ? 'Project name is required' : null }}
      {{ 
       ( (addProjectForm.controls['name']?.errors?.['minlength']?.['actualLength']) < addProjectForm.controls['name']?.errors?.['minlength']?.['requiredLength']) 
       ? 'Project name should be longer than 2 characters' : null
      }}
      {{ 
       ( (addProjectForm.controls['name']?.errors?.['maxlength']?.['actualLength']) > addProjectForm.controls['name']?.errors?.['maxlength']?.['requiredLength']) 
       ? 'Project name should be shorter than 30 characters' : null
      }}
    </div>
  </div>
  <div class="mb-3">
    <label for="startDate" class="form-label">Start Date</label>
    <input
      name="startDate"
      formControlName="startDate"
      type="date"
      class="form-control allow-validated"
      id="startDate"
    />
    <div class="invalid-feedback">
      {{ addProjectForm.controls['startDate'].errors?.['required'] ? 'Employee birth date is required and must be a valid date' : null }}
    </div>
  </div>
  <div class="mb-3">
    <label for="totalCount" class="form-label">Total Count</label>
    <input
      name="totalCount"
      formControlName="totalCount"
      type="number"
      class="form-control allow-validated"
      id="totalCount"
    />
    <div class="invalid-feedback">
      {{ addProjectForm.controls['totalCount']?.errors?.['required'] ? 'Project total count is required' : null }}
      {{ 
       ( (addProjectForm.controls['totalCount']?.errors?.['min']?.['actual']) < addProjectForm.controls['totalCount']?.errors?.['min']?.['min']) 
       ? 'Project total count should be greater than 0' : null
      }}
      {{ 
       ( (addProjectForm.controls['totalCount']?.errors?.['max']?.['actual']) > addProjectForm.controls['totalCount']?.errors?.['max']?.['max']) 
       ? 'Project total count should be smaller than 999999999' : null
      }}
    </div>
  </div>
  <div class="mb-3">
    <label for="leaderId" class="form-label">Leader</label>
    <select
      name="leaderId"
      formControlName="leaderId"
      class="form-select"
      id="leaderId"
    >
      <option *ngFor="let e of employeesInf" value="{{ e.id }}">
        {{ e.lastName }} {{ e.firstName }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="membersId" class="form-label">Members</label>
    <select
      name="membersId"
      formControlName="membersId"
      multiple
      size="5"
      class="form-select"
      id="membersId"
    >
      <option *ngFor="let e of employeesInf" value="{{ e.id }}">
        {{ e.lastName }} {{ e.firstName }}
      </option>
    </select>
  </div>
  <div class="col-12 px-4 mb-4 mt-4">
    <button
      [disabled]="addProjectForm.invalid"
      class="btn btn-primary col-12 text-uppercase"
    >
      Confirm
    </button>
  </div>
</form>
