.text-link {
  color: var(--link-color);
}

.text {
  color: var(--text-color);
}

.text-icon {
  color: var(--icon-color);
}

.text-blur {
  color: var(--text-blur-color);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}