<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./module/website-info.ejs') %>
  <%- include('./module/general-link.ejs') %>

  <link rel="stylesheet" href="/stylesheets/client/shop.css">
</head>

<body>
  <%- include('./module/header.ejs') %>

  <section id="content">
    <main class="bg-dark p-5 container-fluid text-center">
      <h1 class="text-light py-5">
        Your new password in your email now, check it and continue login
      </h1>
      <a href="/user/login" class="btn btn-primary text-uppercase">
        Continue login
      </a>
    </main>
  </section>

  <%- include('./module/footer.ejs') %>

  <script type="module" src="/javascripts/client/shop/shop.js"></script>
</body>

</html>